{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "arrowParens": "avoid"
}
